<div class="header jumbotron">
  <h1>#Geek_Quotes</h1>

  <h4>Share some IT related quotes with us and see how people like them</h4>
</div>



<div class="container">
  <div class="row">

    <div class="col-md-6">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div> <!-- end div column form -->

    <div class="col-md-6">
      <div class="display-quotes" *ngFor='let quote of quotes, let i = index'>
        <div appHighlight class="quote-block">
          <blockquote>
            <h4>"{{quote.textQuote}}"</h4>
          </blockquote>
          <div class="details">
            <cite>--{{quote.author}}</cite>
            <br>
            <button class="btn-info" (click)='toggleDetails(i)' type="button" name="button">More</button>
            <app-quote-details *ngIf="quote.showDetails" [quote]='quote' (isDelete)='deleteQuote($event, i)' (isPlus)='plusVote($event, i)' (isMinus)='minusVote($event, i)'> </app-quote-details>
          </div>
        </div>
      </div> <!-- end div display-quotes -->
    </div> <!-- end div column quotes -->

  </div> <!-- end div row -->

</div> <!-- end div container quotes -->
