<div class="container-fluid">
    <div class="row">
        <form #goalForm='ngForm'>

          <!-- Description Input -->
          <div class="form-group">
            <label for="quote">Quote: </label>
            <textarea class="form-control" id="quote" rows="4" [(ngModel)]="newQuote.textQuote" name="textQuote" #textQuote="ngModel" required></textarea>
            <div [hidden]="textQuote.valid || textQuote.pristine" class="alert alert-danger">
              <p> Quote is Required</p>
            </div>
          </div>

            <!-- Author Form -->
            <div class="form-group">
                <label for="author">Author: </label>
                <input type="text"  class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author="ngModel" required>
                <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                    <p> Author is Required</p>
                </div>
            </div>

            <!-- Username Input -->
            <div class="form-group">
                <label for="user">Your name: </label>
                <input type='text' class="form-control" id="user" [(ngModel)]="newQuote.username" name="username" #username="ngModel" required >
                <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
                    <p> Username is Required</p>
                </div>
            </div>
            <button type="Submit" class="btn btn-success btn-lg">Add Quote</button>
        </form>
    </div>
</div>
