<div class="container-fluid">
  <div class="row">
    <form>

      <div class="form-group">
        <label for="quote">Quote:</label>
        <textarea class="form-control" id="quote" cols="20" rows="3" required></textarea>
      </div>

      <div class="form-group">
          <label for="author">Author:</label>
          <input type="text" required class="form-control" id="author">
      </div>

      <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" required class="form-control" id="username">
      </div>

    </form>
  </div>
</div>
